.content-card-header
  %h1.content-card-header-title User fields
.content-card-section-container
  %section.content-card-section
    %h2 Manage existing user fields
    .form-group
      .field-titles.user-fields
        %div Field title
        %div Field type
        %div Sign up
        %div Public
        %div
      .list-group.user-fields-data
        = render 'fixed_fields'
        - if @service.show_custom_fields?
          %span#userCustomList
          = render partial: 'custom_fields', collection: @service.custom_fields, as: :custom_field
    %p.ingress
      %a{"data-target" => "#userFieldsAddModal", "data-toggle" => "modal", :href => "#"} + Add a new user field

= render 'admin2/users/user_fields/add_popup'
