- content_for :title do
  = t('admin2.sidebar.transactions_reviews.manage_reviews')

= render 'admin2/transactions_reviews/manage_reviews/filter'

.content-card-section-container{style: 'padding: 0; max-width: none;'}
  .table-responsive
    %table.table.table-hover.managereviews
      %thead
        %tr
          %th{:scope => "col"}
            %a{:href => "#"} Transaction
          %th{:scope => "col"} Customer
          %th{:scope => "col"} Customer rating
          %th{:scope => "col"} Provider
          %th{:scope => "col"} Provider rating
          %th{:scope => "col"} Actions
      %tbody
        = render partial: 'review', collection: @service.transactions, as: :tx
    .table-bottom
      %p
        Displaying
        %strong 5
        transactions with reviews in transaction with reviews 1 - 5 of
        %strong 5
        transactions with reviews in total

= render 'admin2/transactions_reviews/manage_reviews/read_popup'
