#simpleList.list-group
  = render partial: 'custom_field', collection: @custom_fields.sort

  -#.field-data
  -#  %div A text listing field
  -#  %div Text
  -#  .actions
  -#    %span.handle-move{"aria-hidden" => "true"}
  -#    %span.remove{"aria-hidden" => "true", "data-target" => "#listingFieldsDeleteModal", "data-toggle" => "modal"}
  -#    %span.edit{"aria-hidden" => "true", "data-target" => "#listingFieldsTextEditModal", "data-toggle" => "modal"}
  -#.field-data
  -#  %div A number listing field
  -#  %div Number
  -#  .actions
  -#    %span.handle-move{"aria-hidden" => "true"}
  -#    %span.remove{"aria-hidden" => "true", "data-target" => "#listingFieldsDeleteModal", "data-toggle" => "modal"}
  -#    %span.edit{"aria-hidden" => "true", "data-target" => "#listingFieldsNumberEditModal", "data-toggle" => "modal"}
  -#.field-data
  -#  %div A dropdown listing field
  -#  %div Dropdown
  -#  .actions
  -#    %span.handle-move{"aria-hidden" => "true"}
  -#    %span.remove{"aria-hidden" => "true", "data-target" => "#listingFieldsDeleteModal", "data-toggle" => "modal"}
  -#    %span.edit{"aria-hidden" => "true", "data-target" => "#listingFieldsDropdownEditModal", "data-toggle" => "modal"}
  -#.field-data
  -#  %div A checkbox listing field
  -#  %div Checkbox group
  -#  .actions
  -#    %span.handle-move{"aria-hidden" => "true"}
  -#    %span.remove{"aria-hidden" => "true", "data-target" => "#listingFieldsDeleteModal", "data-toggle" => "modal"}
  -#    %span.edit{"aria-hidden" => "true", "data-target" => "#listingFieldsCheckboxEditModal", "data-toggle" => "modal"}
  -#.field-data
  -#  %div A date listing field
  -#  %div Date
  -#  .actions
  -#    %span.handle-move{"aria-hidden" => "true"}
  -#    %span.remove{"aria-hidden" => "true", "data-target" => "#listingFieldsDeleteModal", "data-toggle" => "modal"}
  -#    %span.edit{"aria-hidden" => "true", "data-target" => "#listingFieldsDateEditModal", "data-toggle" => "modal"}
