.form-group
  %label Field name
  .multiple-languages-container
    .multiple-languages-language
      %span.language English
    .multiple-languages-input
      %input#listingFieldsNumberName.form-control{"aria-describedby" => "listingFieldsNumberName", :type => "text", :value => "A number listing field"}/
    .multiple-languages-language
      %span.language French
    .multiple-languages-input
      %input#listingFieldsNumberName.form-control{"aria-describedby" => "listingFieldsNumberName", :type => "text", :value => "Un champ d'annonce de type nombre"}/
    .multiple-languages-language
      %span.language Spanish
    .multiple-languages-input
      %input#listingFieldsNumberName.form-control{"aria-describedby" => "listingFieldsNumberName", :type => "text", :value => ""}/
.form-group
  %label Required field
  .form-check
    %input#listingFieldsNumberRequired.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsNumberRequired"} Make it mandatory to fill in this field when creating a new listing
.form-group
  %label Filter
  .form-check
    %input#listingFieldsNumberFilter.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsNumberFilter"} Display a filter based on this field on the homepage
.form-group
  %label Decimal
  .form-check
    %input#listingFieldsNumberDecimals.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsNumberDecimals"} Allow decimals
.form-group
  %label Minimum value allowed
  %input#listingFieldsNumberMinimum.form-control{"aria-describedby" => "listingFieldsNumberMinimum", :type => "text", :value => "0"}/
.form-group
  %label Maximum value allowed
  %input#listingFieldsNumberMaximum.form-control{"aria-describedby" => "listingFieldsNumberMaximum", :type => "text"}/
.form-group
  %label Listing categories where the field is used
  .form-check
    %input#listingFieldsNumberCategory1.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsNumberCategory1"} Category x.a
  .form-check
    %input#listingFieldsNumberCategory2.form-check-input{:type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsNumberCategory2"} Category x.b
  .form-check
    %input#listingFieldsNumberCategory3.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsNumberCategory3"} Category x.c
  .form-check
    %input#listingFieldsNumberCategory4.form-check-input{:type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsNumberCategory4"} Category x.d
