- custom_field.with_type do |type|
  - case type
  - when :date_field
  - when :text
  - else
    .form-group
      %label Filter
      .form-check
        = form.check_box :search_filter, class: %i[form-check-input]
        = form.label :search_filter, 'Display a filter based on this field on the homepage',class: %i[form-check-label]
