.form-group
  %label Field name
  .multiple-languages-container
    .multiple-languages-language
      %span.language English
    .multiple-languages-input
      %input#listingFieldsNumberName.form-control{"aria-describedby" => "listingFieldsNumberName", :type => "text", :value => "A text listing field"}/
    .multiple-languages-language
      %span.language French
    .multiple-languages-input
      %input#listingFieldsNumberName.form-control{"aria-describedby" => "listingFieldsNumberName", :type => "text", :value => "Un champ d'annonce de type texte"}/
    .multiple-languages-language
      %span.language Spanish
    .multiple-languages-input
      %input#listingFieldsNumberName.form-control{"aria-describedby" => "listingFieldsNumberName", :type => "text", :value => ""}/
.form-group
  %label Required field
  .form-check
    %input#listingFieldsTextRequired.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsTextRequired"} Make it mandatory to fill in this field when creating a new listing
.form-group
  %label Listing categories where the field is used
  .form-check
    %input#listingFieldsTextCategory1.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsTextCategory1"} Category x.a
  .form-check
    %input#listingFieldsTextCategory2.form-check-input{:type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsTextCategory2"} Category x.b
  .form-check
    %input#listingFieldsTextCategory3.form-check-input{:checked => "checked", :type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsTextCategory3"} Category x.c
  .form-check
    %input#listingFieldsTextCategory4.form-check-input{:type => "checkbox"}/
    %label.form-check-label{:for => "listingFieldsTextCategory4"} Category x.d
