.content-card-header
  %h1.content-card-header-title Listing fields
.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Manage existing listing fields
      %p.ingress Here you can edit the fields that users have to fill in when they create a new listing. Please note that some fields are predefined and cannot be edited.
      .form-group
        .field-titles
          %div Field title
          %div Field type
        .list-group
          .field-data
            %div Listing title
            %div Text
            .actions
              %span.handle-move.disabled{"aria-hidden" => "true"}
              %span.remove.disabled{"aria-hidden" => "true"}
              %span.edit.disabled{"aria-hidden" => "true"}
          - if @price_in_use
            .field-data
              %div Price
              %div Price
              .actions
                %span.handle-move.disabled{"aria-hidden" => "true"}
                %span.remove.disabled{"aria-hidden" => "true"}
                %span.edit.disabled{"aria-hidden" => "true"}
          .field-data
            %div Detailed description
            %div Text
            .actions
              %span.handle-move.disabled{"aria-hidden" => "true"}
              %span.remove.disabled{"aria-hidden" => "true"}
              %span.edit.disabled{"aria-hidden" => "true"}

          = render 'custom'

          .field-data
            %div Expiration date
            %div Date
            .actions
              %span.handle-move.disabled{"aria-hidden" => "true"}
              %span.remove.disabled{"aria-hidden" => "true"}
              %span.edit.disabled{"aria-hidden" => "true"}
          .field-data
            %div Location
            %div Location
            .actions
              %span.handle-move.disabled{"aria-hidden" => "true"}
              %span.remove.disabled{"aria-hidden" => "true"}
              %span.edit.disabled{"aria-hidden" => "true"}

      %p.ingress
        %a{"data-target" => "#listingFieldsAddModal", "data-toggle" => "modal", :href => "#"} + Add a new listing field

= render 'admin2/listings/listing_fields/add_popup'
