.list-group-item.nested-1{data: {id: category.id}}
  %div
    = category.display_name(I18n.locale)
  .actions
    %span.handle-move{"aria-hidden" => "true"}
    %span.remove{"aria-hidden" => "true", "data-target" => "#categoriesDeleteModal", "data-toggle" => "modal"}
    = link_to edit_admin2_listings_category_path(category), remote: true do
      %span.edit

  - unless category.children.empty?
    .list-group.nested-sortable
      = render partial: 'subcategory', collection: category.children, locals: { category_count: category.children.size }
