.content-card-header
  %h1.content-card-header-title Categories
.content-card-section-container
  %section.content-card-section
    %h2 Categories
    %p.ingress Here you can edit the categories that providers have to put listing in, and visitors use to browse your marketplace.
    .form-group
      #nestedList.list-group.nested-sortable{data: {url: order_admin2_listings_categories_path}}
        = render partial: 'category', collection: @categories

    %p.ingress
      = link_to '+ Add a new category', new_admin2_listings_category_path, remote: true
