= form_tag '#', class: %i[content-card-header content-table], method: :get do |form|
  .content-card-header-left
    = text_field_tag :q, params[:q], placeholder: t('admin2.manage_users.search_by'), class: %i[search-header]
  .content-card-header-right
    = select_tag 'status[]', options_for_select(@presenter.sorted_statuses.map { |st| [st[1], st[0]] }, params[:status]), prompt: t('admin2.manage_users.all_statuses', count: @presenter.count_by_status('all')) , class: %i[tiny-select change-status-filter]
    = link_to t('admin2.manage_users.export_csv'), { format: :csv }, class: %i[content-card-header-link] << ('opacity_04 is-disabled' if params[:status]&.any?{|s| s.present?} || params[:q].present?)
